@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Playfair+Display:wght@400;600;900&display=swap");

/* Hamburger menu */
/* Icon 1 */

#nav-icon3 {
  z-index: 1;
  width: 45px;
  height: 0px;
  position: relative;
  left: 1050px;
  /* margin: 50px auto; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 70%;
  background: #232323d9;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
  /* width: 60%; */
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.row {
  margin-left: 0px !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
}

.landing-h1 {
  font-size: 55px;
  font-weight: 900;
}

.landing-p {
  margin: 0px;
  font-size: 28px;
  padding-right: 100px;
  margin: 20px 0px;
  line-height: 40px;
}

.landing-banner {
  background-image: url(../assets/images/Pattern1.svg);
  position: relative;
  background-position: inherit;
  background-repeat: no-repeat;
  top: -125px;
  padding-top: 200px;
  height: 650px;
}

.container {
  margin: 0px 100px;
}

.landing-p1 {
  font-size: 20px;
}

footer {
  background: #474747;
  padding: 40px;
  color: #fff;
  border-top: 1px solid #fff;
  padding: 80px 0px;
}

.navbar-brand {
  position: relative;
  left: -70px;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  z-index: 1;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background: transparent;
  border: none;
  padding-top: 50px;
}

img.logo {
  width: 130px;
}

i.fa.fa-long-arrow-right {
  margin-left: 15px;
  /* margin-top: 11px; */
}

.learn-more {
  font-family: "Montserrat", sans-serif;
}

#partner-mobile {
  display: none;
}

.learn-more {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  border: 1px solid #000;
  padding: 15px 20px;
}

.learn-more:hover {
  text-decoration: none;
  background: #474747;
  color: #ffe600;
  transition: 0.4s;
}

div#banner-div-7 {
  z-index: 1;
}

.margin-contact {
  margin-bottom: 50px;
}

i.fa.fa-chevron-right {
  font-weight: 100;
  margin-left: 15px;
}

i.fa.fa-plus-circle {
  color: #ffe700;
}

h2.landing-h2 {
  font-size: 55px;
  font-weight: 900;
}

.learn-more.no-border {
  border: none;
  padding: 0px;
}

.section {
  padding: 70px 0px !important;
}

.strategy-box-holder {
  text-align: center;
  border-right: 1px solid #00000021;
}

.strategy-box-holder:last-child {
  padding-left: 0px;
  /* border-right: none; */
}

img.img-responsive.partner-logo {
  width: 150px;
}

.strategy-box {
  /* background: #f2f2f2; */
  padding: 50px 0px 0px 10px;
  /* box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15); */
  border-radius: 10px;
  margin: 20px 20px 20px 0px;
  max-width: 250px;
  min-width: 250px;
  min-height: 230px;
  max-height: 230px;
}

.strategy-box-holder:first-child {
  padding-left: 0px;
}

img.img-responsive.strategy-icons.center-box {
  width: 140px;
  margin: 20px;
}

img.img-responsive.man-img {
  width: 480px;
}

.row.icon-row {
  width: 110%;
  margin-top: 70px;
  margin-bottom: 70px;
}

#footer-web {
  display: block;
}

#footer-mobile {
  display: none;
}

h5.strategy-h5 {
  font-size: 20px;
  font-weight: 600;
  padding: 0px 50px;
}

section.strategy-sectionn {
  /* margin-bottom: 100px; */
  padding-top: 0px !important;
}

.contact-inner1 {
  /* padding: 0px 50px 0px 0px; */
}

.contact-inner2 {
  padding: 0px 0px 0px 50px;
}

button.btn.btn-primary.contact-button {
  background: #ffe400;
  border: 1px solid #ffe600;
  border-radius: 0px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding: 25px 50px;
  height: 75px;
}

label {
  font-size: 12px;
  font-weight: 600;
}

.form-control {
  font-size: 12px;
  border: 1px solid #33333385;
}

section.contact-us {
  padding: 70px 0px;
  background: #474747;
  color: #fff;
}

img.banner-image.img-responsive {
  position: relative;
  bottom: 562px;
  left: 0px;
  width: 1220px;
}

#circle1 {
  position: relative;
  bottom: 196px;
  right: 50px;
}

#circle2 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  position: relative;
  right: 76px;
  bottom: 204px;
}

#circle3 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative;
  right: 60px;
  bottom: 197px;
}

#circle4 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: relative;
  right: 65px;
  bottom: 220px;
}

section.partner-section {
  background: #ebebeb;
  padding: 20px 0px !important;
}

.partner-div {
  padding-top: 80px;
}

.row.text-center.partner-row {
  margin: 70px 0px;
}

i.fa.fa-long-arrow-right.yellow-arrow.y2 {
  color: #ffe700;
  font-weight: bolder;
  /* font-size: 46px; */
  margin-top: 20px !important;
}

i.fa.fa-long-arrow-right.yellow-arrow {
  color: #ffe700;
  font-weight: bolder;
  /* font-size: 46px; */
  margin-top: 50px !important;
}

img.img-responsive.footer-logo {
  position: relative;
  left: -40px;
}

.footer-right {
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  left: 50px;
}

.form-control {
  font-size: 18px;
  border: 1px solid #33333385;
  height: 75px;
  border-radius: 0px;
  padding: 15px;
}

.contact-outer {
  padding-right: 5px;
  padding-bottom: 10px;
}

.contact-outer1 {
  padding-left: 5px;
  padding-bottom: 10px;
}

.footer-text {
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
  font-weight: 100;
}

.footer-text1 {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: right;
  font-weight: 100;
}

#socials {
  color: #fff;
  font-size: 24px;
}

@media (max-width: 1280px) {
  img.banner-image.img-responsive {
    position: relative;
    bottom: 610px;
    right: 120px;
    width: 1300px;
  }

  .container {
    margin: 0px 30px;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}



@media (max-width: 768px) {
  .br-mobile-hidden {
    display: none;
  }
  .navbar-brand {
    position: relative;
    left: 0px;
}

  .strategy-box-holder {
    border-right: none;
  }

  .strategy-box {
    margin: none;
    padding: none;
    max-width: 220px;
    min-width: 220px;
    min-height: 200px;
    max-height: 200px;
  }

  img.img-responsive.strategy-icons.center-box {
    max-width: 110px !important;
    margin: 10px;
  }

  section.contact-us {
    /* padding: 0px !important; */
  }

  .section {
    padding: 30px 0px !important;
  }

  img.img-responsive.man-img {
    width: 320px;
    margin-bottom: 20px;
  }

  section.creative-section.section {
    padding-bottom: 60px !important;
  }

  .strategy-box {
    margin-bottom: 0px;
    /* position: relative;
    left: 10px; */
  }

  #footer-mobile {
    text-align: center !important;
    padding: 10px;
  }

  .footer-text1 {
    font-size: 16px;
    text-align: center;
  }

  .footer-text {
    font-size: 16px;
    text-align: center;
  }

  .form-control {
    font-size: 14px;
    border: 1px solid #33333385;
    height: 50px;
    border-radius: 0px;
    padding: 15px;
}

  .margin-contact {
    margin-bottom: 20px;
    padding: 0px;
  }

  .contact-outer {
    padding-right: 0px;
    padding-left: 0px;
  }

  .contact-outer1 {
    padding-right: 0px;
    padding-left: 0px;
  }

  button.btn.btn-primary.contact-button {
    width: 100%;
  }

  #circle1 {
    position: relative;
    bottom: 155px;
    right: 50px;
    width: 230px;
  }

  #circle2 {
    right: 60px;
    bottom: 153px;
    width: 230px;
  }

  #circle4 {
    right: 63px;
    bottom: 167px;
    width: 230px;
  }

  #circle3 {
    right: 47px;
    bottom: 156px;
    width: 230px;
  }

  #footer-mobile {
    display: block;
  }

  #footer-web {
    display: none;
  }

  h5.strategy-h5 {
    font-size: 18px;
    font-weight: 600;
    padding: 0px 40px;
  }

  .landing-p1 {
    font-size: 16px;
  }

  .footer-right {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    left: 0px;
    margin-top: 20px;
  }

  #socials {
    color: #fff;
    font-size: 20px;
  }

  img.img-responsive.footer-logo {
    position: relative;
    left: -40px;
    width: 80px;
  }

  .container {
    margin: 0px;
  }

  .landing-h1 {
    font-size: 30px;
    font-weight: 900;
    /* text-align: center; */
  }

  .landing-banner {
    padding: 150px 0px;
    height: 450px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .landing-p {
    margin: 0px;
    font-size: 16px;
    padding-right: 0px;
    margin: 20px 0px;
    /* text-align: center; */
    line-height: 25px;
  }

  section.strategy-sectionn {
    position: relative;
    margin-top: -80px;
    /* text-align: center; */
    padding: 0px;
  }

  .learn-more {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    position: relative;
    top: 25px;
  }

  h2.landing-h2 {
    font-size: 30px;
    font-weight: 900;
  }

  .row.icon-row {
    width: 100%;
    margin: 30px;
    margin-left: 0px;
    padding: 0px 35px;
  }

  .contact-inner1 {
    padding: 0px;
  }

  .contact-inner2 {
    padding: 0px;
  }

  section.contact-us {
    padding: 30px 20px;
  }

  img.banner-image.img-responsive {
    position: relative;
    bottom: 140px;
    right: 65px;
    width: 390px;
    display: none;
  }

  .row.footer-row {
    margin-right: -15px !important;
    margin-left: -15px !important;
  }

  img.img-responsive.partner-logo {
    width: 80px;
  }

  div#contact-us-row {
    padding: 0px 15px;
  }

  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding-top: 30px;
  }

  img.logo {
    width: 105px;
  }

  #nav-icon3 {
    left: 190px;
    top: 10px;
  }

  .strategy-box-holder {
    margin: 20px 0px;
  }

  .row.creative-row {
    padding-right: 10px;
}

  .partner-div {
    padding: 30px 15px;
  }

  .row.text-center.partner-row {
    margin: 40px 0px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media (max-width: 320px) {
  h5.strategy-h5 {
    font-size: 18px;
    font-weight: 600;
    padding: 0px 15px;
  }

  img.img-responsive.strategy-icons.center-box {
    margin-left: -35px !important;
  }
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    img.img-responsive.man-img {
      width: 260px;
      margin-bottom: 20px;
  }
  h2.landing-h2 {
    font-size: 27px;
    font-weight: 900;
}
#nav-icon3 {
  left: 130px;
  top: 10px;
}
.landing-h1 {
  font-size: 27px;
  font-weight: 900;
  /* text-align: center; */
}
.partner-row .col{
  padding: 0px;
}
button.btn.btn-primary.contact-button {
  font-size: 14px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}